body {
    width: auto;
    background-color: azure;
}

#about{
    line-height: 80vh;
    height: auto;
    text-align: center;
}
#about .text {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
#about .text p {
    color: darkgray;
}
#about h1 {
    border-bottom: solid 3px;
    border-color: darkgray;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    color: black;
}