.full_name {
    display: block;
}
  
.full_name h1 {
    border-bottom: solid lightgrey 2px;
}
  
.circle_image img {
    border-radius: 50%;
    border: 3px solid lightgray;
    width: 100%;
}
  
.circle_image {
    display: inline-block;
    width: 20%;
    margin-right: 30px;
}
  
.alternative_text {
    display: inline-block;
    width: 70%;
    text-align: left;
    vertical-align: top;
}
  
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main-content {
    margin-top: 15%;
}
  
@media screen and (max-width: 800px) {
    .circle_image {
        margin-right: 0;
        margin-bottom: 30px;
        width: 55%;
    }

    .alternative_text {
        width: 80%;
    }

    .content {
        display: block;
        align-items: center;
        justify-content: center;
    }
}